/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('o-que-e-agricultura-regenerativa-lavoura-de-soja-1025x675.jpg'); /* Caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(0, 123, 255, 0.8); /* Cor de fundo do cabeçalho com transparência */
    color: white;
    padding: 10px;
    text-align: center;
}

.search-bar {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
}

.image-slider {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se organizem em várias linhas */
    justify-content: space-around; /* Distribui os itens ao redor do conteúdo */
}

.item {
    width: 300px; /* Largura do item */
    margin: 20px; /* Espaçamento entre os itens */
    text-align: center;
}

.item img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Borda arredondada para a imagem */
}

.price {
    font-size: 18px; /* Tamanho da fonte do preço */
    margin-top: 10px; /* Espaço acima do preço */
}
